@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHaraket>
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Sipariş Geçmişim</h2>
<br />


<table id="tbl1" class="table table-striped" style="margin-top:15px;">
    <thead>
        <tr>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Toplam Fiyat</th>
            <th>Tarih</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                
                <td>@k.Urun.UrunAd / @k.Urun.Marka </td>
                <td>@k.Cariler.CariAd @k.Cariler.CariSoyad </td>
                <td>@k.Personel.PersonelAd @k.Personel.PersonelSoyad </td>
                <td>@k.ToplamTutar </td>
                <td>@k.SatisTarihi </td>

            </tr>

        }
    </tbody>
</table>