@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Faturalar</h2>
<br />

<table id="tbl1" class="table table-striped" style="margin-top:15px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Seri No</th>
            <th>Sıra No</th>
            <th>Vergi Dairesi</th>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Teslim Eden</th>
            <th>Teslim Alan</th>
            <th>Toplam</th>
            <th>Teslim Detayları</th>
            <th>Detay</th>

        </tr>
    </thead>
    <!--buradaki model kategoriKOntrole de Kategoris e bağlı-->
    <tbody>
        @foreach (var k in Model)
        {
        <tr>
            <td>@k.FaturaID</td>
            <td> @k.FaturaSeriNo </td>
            <td> @k.FaturaSıraNo </td>
            <td> @k.VergiDairesi </td>
            <td> @k.FaturaTarih.ToShortDateString() </td>
            <td> @k.FaturaSaat </td>
            <td> @k.TeslimEden </td>
            <td> @k.TeslimAlan </td>
            <td> 100 </td>
            <td> <a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-success"> Güncelle</a> </td>
            <td> <a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-info"> Detay </a> </td>
        </tr>
        }
    </tbody>
</table>
<br />
<a href="/Fatura/FaturaEkle" class="btn btn-primary"> Yeni Fatura Giriş</a>


@*Hazır data table için*@

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>

