@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Departman Sayfası</h2>
<br />
<form class="form-group" method="post">

    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DepartmanAd, "", new { @style = "color:red" })
    <br />

    @Html.LabelFor(x => x.Durum)
    @Html.DropDownListFor(x => x.Durum, new[] { new SelectListItem { Text = "Var", Value = "True" }, new SelectListItem { Text = "Yok", Value = "False" } }, new { @class = "form-control" })

    <button class="btn btn-info"> Kaydet</button>

</form>
